body {
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.header {
    display: flex;
    justify-content: center;
    background-color: #1f2937; 
    align-items: center;
    gap: 80px;
    min-width: fit-content;
    padding: 10px 10px;
     
}
.right {
    display: flex;
    align-items: right;
    gap: 48px;
    flex-direction: column;
}
.left {
    display: flex;
    align-items: left;
    flex-direction: column;
}
.logo img {
    max-width:200px;
    max-height:100px;
    width: auto;
    height: auto;
}
.container {
    flex-direction: column;
}
.title {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
}
.text {
    font-size: 18px;
    
}

.header .text {
    color: #f9fAf8;
}


button {
    background-color: #3882f6;
    color: white;
    border-radius: 6px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 100px;
    display: flex;

}
li {
    display: flex;
}


a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
.services {
    display: flex;
    background-color: white;
    gap: 30px;
    flex-direction: column;
    padding: 16px;
    min-width: fit-content;
    
}
.information {
    
    justify-content: center;
    font-size: 26px;
    font-weight: bolder;
    color: #1f2937;
    align-items: center;
    display: flex;
}
.box {
    flex-direction: row;
    display: flex;
    gap: 58px;
    justify-content: center;
    text-align: center;
}
img {
    width: 120px;
    height: 120px;
    border-radius: 25px;
    border-color: blue;
    border-style: solid;

}
.header img {
    width: 330px;
    height: 155px;
    border-radius: 0;
    border-style: hidden;


}
.quote {
    padding: 18px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-height: 200px;
    justify-content: center;
    align-items: center;
}

.carrier {
    max-width: 700px;
}

.word {
    font-size: 26px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
    justify-content: center;
    align-items: center;
    display: flex; 
}
.owner {
    font-weight: bolder;
    text-align: right;
}

.call {
    background-color: white;
    display:flex;
    padding: 18px;
    justify-content: center;
   
}
.jar {
    display: flex;
    background-color: #3882f6;
    gap: 65px;
    padding: 18px 120px;


}
.motivation {
    font-size: 18px;
    display: flex;
    color: white;
}
.reach {
    font-size: 14px;
    display: flex;
    color: white;
}
.jar .left {
    gap: 2px;
}

.call button {
    display: flex;
    border-color: white;
    margin: auto;
    align-items: right;


}
.Footer {
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    padding: 12px;
    display: flex;
    color: white;


}